<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorator="template">
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width" />
<link rel="stylesheet"  type="text/css" href ="../static/css/bootstrap.min.css"
 th:href="@{/css/bootstrap.min.css}" />
 <link rel="stylesheet"  type="text/css" href ="../static/css/myStyle.css" 
  th:href="@{/css/myStyle.css}" />
<title>Présentation </title>
</head>
  
<body layout:fragment="content">
    <div class="container">
		<div class="row" style="margin-top:5px;" >
			<div class="col-xs-3 col-md-2 contenu-non-mobile" >
				<img src="../static/images/logocultivons.png" th:src="@{/images/logocultivons.png}" height="100px" width="100px" alt="logo"  class="img-rounded boxshadow"/>
				
			</div>
			<div class="col-xs-6 col-md-4 boxsimple">
					<h4 class="text-center " >Cultivons notre Monde <br/>
					   Je suis ce que je suis grâce à ce que nous sommes tous </h4>
			</div>
			<div class="col-xs-3 col-md-2 col-md-offset-1 contenu-non-mobile" >
				<img src="../static/images/candide.gif" th:src="@{/images/candide.gif}" height="100px" width="100px" alt="logo"  class="img-rounded boxshadow"/>
				
			</div>
		</div>
	</div>
  <div class="container">
       <section class="row">
        <div class="col-xs-12  col-md-12 text-justify box effect8" id="pres" >
        	<br/>
			<p>
			Notre façon de  penser  « On ne marche qu'avec ce qu’on s’est mis dans la tête (merci l'héritage humain!) ! (Notre propre logiciel en quelque sorte), Mais, Dieu Merci, 
			Nous pouvons y mettre une meilleure façon de penser plus lucide et plus intelligente, moyennant un certain effort, qui parfois, peut se révéler très conséquent ! mais  le jeu en vaut la chandelle» 
			
			<ul>
					<li>Justice-liberté-respect-épanouissement pour TOUS</li>
					<li>Un monde Intelligent loin des idées préconçus vétustes et inutiles</li>
					<li>Une dynamique du travail collaboratif et solidaire</li>
			</ul>		
        	</p>

			Comme beaucoup d’entre vous, déçus de tous ces hommes politiques et de ces gouvernements qui alimentent leurs propres intérêts au détriment de <strong>l’INTERET COMMUN et du bien vivre ensemble </strong>, J’ai conçu cette espace pour faire  place à un échange libre et constructif. <br/>
			« Rêver » en quelque sorte d’un monde qu’on nous n’avons pas réussi à construire : un monde de justice, de solidarité, de liberté et du « BIEN VIVRE ». 
			L’humanité vit, et depuis toujours, dans un milieu de violence et de conflits perpétuels ; Mais ne Méritons-nous pas MIEUX ? ne sommes-nous pas assez évolués 
			pour pouvoir atteindre ce noble but ? A cause de ces milieux politiques qui cultivent l’ignorance et la bêtise humaine, qui permet à une toute petite minorité 
			de profiter des ressources du monde et de laisser le reste à la traîne, sachant que cela implique, en retour, un milieu plein de conflits et ou l'on sacrifie la PAIX et le BIEN VIVRE ENSEMBLE, y compris pour cette élite 
			et l’avenir de sa progéniture. Cet espace d’expression milite pour faire resurgir une nouvelle pensée pour un monde plus intelligent, meilleur et plus épanoui. 
			Cultivons donc notre monde, et merci pour vos participations !!
			Bienvenue parmi Nous !
		
		<br/>
		<br/>

        </div>
      </section>
	<div>
 
	</div>
     <div class="row">
        <section class="col-sm-6">
          <table class="table table-bordered table-striped table-condensed">
            <caption>
            <h2> Les fonctionnalités abordées</h2>
            </caption>
            <thead>
              <tr>
                <th>Fonctionnalité</th>
                <th>Outils Utilisés</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>gestion des habilitations </td>
                <td>Spring security</td>
              </tr>
              <tr>
                <td>Model MVC </td>
                <td>Spring MVC</td>
              </tr>
              <tr>
                <td>Model de données </td>
                <td>Spring data et Hibernate</td>
              </tr>
              <tr>
                <td>Couche présentation  </td>
                <td>Thymleaf et bootstrap</td>
              </tr>
              <tr>
                <td>Module de pagination  </td>
                <td>jquery</td>               
              </tr>
            </tbody>
          </table>
        </section>
      </div>
      <p> Bienvenue dans notre monde !! </p>
      <section class="row">
        <div class="col-xs-4 col-sm-3 col-md-2">
        <img  width="100px" height="100px" src="../static/images/plage1.jpg" th:src="@{/images/plage1.jpg}" alt="image 1 "/>
        </div>
         <div class="col-xs-4 col-sm-3 col-md-2">
        <img  width="100px" height="100px" src="../static/images/plage2.jpg" th:src="@{/images/plage2.jpg}" alt="image 2 "/>
        </div>
   
        <div class="row">
        <section class="col-sm-8">
          <form class="well">
            <legend>Pour m'envoyer un Email</legend>
            <h4>Comment m'avez-vous trouvé ?</h4>
            <fieldset>

              <div class="radio">
                <label for="web" class="radio">
                  <input type="radio" name="origine" value="web" id="web"/>
                  Sur le web 
                </label>
              </div>
              <div class="radio">
                <label for="hasard" class="radio">
                  <input type="radio" name="origine" value="hasard" id="hasard"/>
                  Par hasard 
                </label>
              </div>
              <div class="radio">
                <label for="autre" class="radio">
                  <input type="radio" name="origine" value="autre" id="autre"/>
                  Autre... 
                </label>
              </div>
              <label for="textarea">Votre message :</label>
                <textarea id="textarea" class="form-control" rows="4"></textarea>
                <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-ok-sign"></span> Envoyer</button>
            </fieldset>
          </form>
        </section>
		
        <section class="col-sm-4">
          <address>
          <strong>Lhoussaine IMOUGAR</strong><br/>
            Cultivons notre monde Inc<br/>
            
          </address>
        </section>
      </div>
      </section>
</div>  
 
  </body>
</html>